
.MainBothElements{
    display: flex;
    flex-direction: row;
    height: 300px;
    margin-top: 70px;
   
}

.HelpTo{
width: 50%;
margin-top: 120px;
}

.HelpTo h1{
font-weight: 400;
font-size: 100px;

}

.PhotosMain{
    width: 50%;
    height: 300px;
    margin-top: 30px;
}

.textChange{
color:var(--color-primary);
font-size: 70px;
font-weight: 700;
margin-top: 30px;
font-weight: 500;
}

.ImagesElements img{
width: 43%;
}

.ImagesElements{
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
}

#line{
display: flex;
flex-direction: row;
margin-bottom: 15px;
}


.topRigthPhoto{
    animation-name: upToBotton; 
    animation-duration: 1s; 
    animation-timing-function: ease; 
    animation-iteration-count: 1;
}


.MidleRigthPhoto{
    animation-name: moveRight; 
    animation-duration: 2.5s; 
    animation-timing-function: ease; 
    animation-iteration-count: 1;
}


.DownLeftPhoto{
    animation-name: BottonToUp; 
    animation-duration: 2.5s; 
    animation-timing-function: ease; 
    animation-iteration-count: 1;
    width: 240px;
height: 200px;
}

.cicleOne{
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 119.5px;
  background: linear-gradient(0deg, #3461FF 0%, #3461FF 100%), #000;
  margin-left: 20px;
  animation-name: moveRight; 
  animation-duration: 1.5s; 
  animation-timing-function: ease; 
  animation-iteration-count: 1;

  }

.cicleOne a{
  width: 80px;
}

.cicleOne img{
width: 80px;
opacity: 0.5;
}


.cicleTwoo{
  border-radius: 119.5px;
  background: #5D34FF;
  width: 201.758px;
  height: 159.062px;
  margin-right: 20px;
  animation-name: moveRightTwoo; 
animation-duration: 2s; 
animation-timing-function: ease; 
animation-iteration-count: 1;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}  



.cicleTwoo img{
    width: 120px;
    opacity: 0.5;
    }

  .cicleTrhee{
    width: 250px;
    height: 200px;
    flex-shrink: 0;
    border-radius: 119.5px;
    background: #5D34FF;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }
    


.cicleTrhee img{
      width: 70px;
      opacity: 0.5;
      margin-right: 5px;
      }
      


.cicleOne img:hover{
  opacity: 1;
  }

  .cicleTwoo img:hover{
      opacity: 1;
      
      }


      .cicleTrhee img:hover{
          opacity: 1;
          
          }

@keyframes moveRight {
    0% {
      transform: translateX(400px); 
    }
    100% {
      transform: translateX(0px); 
    }
  }



  @keyframes moveRightTwoo {
    0% {
      transform: translateX(800px); 
    }
    100% {
      transform: translateX(0px); 
    }
  }


  @keyframes upToBotton {
    0% {
      transform: translateY(-400px); 
    }
    100% {
      transform: translateY(0px); 
    }
  }

  @keyframes BottonToUp {
    0% {
      transform: translateY(400px); 
    }
    100% {
      transform: translateY(0px); 
    }
  }

  /* Tablet */
@media only screen and (max-width: 768px) {

  .MainBothElements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    height: 300px;
    margin-top: 70px;
}

.HelpTo{
  width: 100%;
  margin-top: 40px;
  height: 250px;
}

.HelpTo h1{
  font-weight: 400;
  font-size: 60px;
  text-align: center;
  
  }
  
  .textChange{
    font-size: 50px;
    text-align: center;
    margin-top: 10px;
  }

  #line{
width: 100%;
display: flex;
margin-right: 0px;
justify-content: center;
  }
  .PhotosMain{
width: 100%;
  }

  .ImagesElements{
    width: 100%;
  }
  .MainBothElements{
    margin-bottom: 600px;
  }

  .topRigthPhoto{
   width: 150px;
   height: 150px;
}

.cicleOne{
  width: 150px;
  height: 150px;
}


.MidleRigthPhoto{
  width: 150px;
  height: 150px;
}

.cicleTwoo{
  width: 150px;
  height: 150px;
}


.DownLeftPhoto{
  width: 150px;
height: 150px;
}

.cicleTrhee{
  width: 150px;
  height: 150px;
}

.cicleTrhee img{
  width: 45px;
}

}

@media only screen and (min-width: 768px) and (max-width: 915px) {

  .MainBothElements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
    height: 300px;
    margin-top: 70px;
    margin-bottom: 850px;
}

.HelpTo{
  width: 100%;
  margin-top: 40px;
  height: 250px;
  margin-bottom: 130px;
}

.PhotosMain{
  width: 100%;
}

}

