
.elementsCards{
margin-top: 460px;

}

.TextAbout h1{
font-size: 50px;
font-weight: 550;
margin-bottom: 15px
;
}

.TextAbout{
margin-bottom: 50px;

}



.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .customCard {
    width: calc(50% - 10px); 
   
    display: flex; 
    align-items: center; 
  }
  
  .imgCard {
    width: 15%; 
  }
  
  .imgCard img {
    margin-top: 40px;
    width: 100%; 
    height: auto; 
    border-top-left-radius: 8px; 
    border-bottom-left-radius: 8px; 
  }
  
  .cardbody {
    flex: 1; 
    padding: 20px; 
    padding-bottom: 0px;
    padding-top: 10px;
  }
  
  .cardTitle {
    font-size: 20px; 
    margin-bottom: 10px;
    font-weight: 400; 
  }
  
  .cardText {
    font-size: 14px; 
  }
  