

.contactElements {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 139px;
}

.contactElements h2{
    font-size: 50px;
    font-weight: 550;
    margin-top: 90px;
   margin-bottom: 80px;  
}

.contactPhotoAndForm {
    display: flex;
    justify-content: space-between;
    width: 100%; 
}

.contactForm {
    width: 45%; 
}

.photoContact {
    width: 45%;
}

.contactForm input{
width: 100%;
}

.photoContact img{
  width: 100%;
}

#inputStyle,
.inputStyleBox {
    width: 100%;
    border-radius: 20px;
    border: 1px solid #3461FF;
    display: flex;
    padding: 20px 18px;
    align-items: center;
    gap: 10px;
}

.inputStyleBox{
    height: 170px;
}

.formInputs button{
    display: flex;
    width: 100%;
    height: 40px;
    padding: 30px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 70px;
    background: #3461FF;
    color: white;
    border: none;
    font-weight: 700;
    font-size: 20px;
}

.formInputs button:hover{
    cursor: pointer;
    background:white;
    border: #3461FF 1px solid;
    color: #3461FF;
}

.formInputs button:active{
    background:black;
    color: white;
}



